<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.study.Operation.EmployeeOperation">

    <!--联合查询-->
    <select id="findEmployees" resultType="hashmap">
		select * from employee,department
		where employee.deptid=department.id
	</select>

    <!--联合查询的另一种方式-->
    <!--<resultMap id="employee" type="com.study.domain.Employee">-->
        <!--<id property="username" column="username"/>-->
        <!--<result property="password" column="password"/>-->
        <!--<result property="deptid" column="deptid"/>-->
    <!--</resultMap>-->

    <!--<select id="findEmployees" resultMap="employee">-->
		<!--select * from employee,department-->
		<!--where employee.deptid=department.id-->
	<!--</select>-->






</mapper>
